body{
  background-color: rgb(232, 231, 225);

}



h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 75px;
  text-align: center;
  font-weight: bold
}


section {
  margin: 0 auto;
  position: relative;
  width: 620px;
}



button {
  border: 10px solid #000;
  cursor: pointer;
  height: 300px;
  margin: 0 -2px;
  outline: none;
  padding: 0;
  width: 300px;
}

#green {
  border-top-left-radius: 100%;
  background: rgba(57, 172, 69, 0.7);
}

#green:hover, #green.lightOn {
  background: rgba(35, 200, 82, 1);
}



#red {
  border-top-right-radius: 100%;
  background: rgba(184, 61, 61, 0.7);
}

#red:hover, #red.lightOn  {
  background: rgba(254, 35, 34, 1);
}


#yellow {
  border-bottom-left-radius: 100%;
  background: rgba(196, 198, 83, 0.7);
}

#yellow:hover, #yellow.lightOn  {
  background: rgba(243, 194, 16, 1);
}

#blue {
  border-bottom-right-radius: 100%;
  background: rgba(34, 64, 103, 0.7);
}

#blue:hover, #blue.lightOn  {
  background: rgba(0, 103, 208, 1);
}



#counter {
  background: #000;
  border-radius: 50%;
  box-sizing: border-box;
  width: 200px;
  height: 200px;

  color: #fff;
  font-family: Arial;
  font-size: 100px;
  line-height: 200px;

  margin-top: -100px;
  margin-left: -108px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;

}
